* {
  margin: 0;
  padding: 0;
}

#root {
  background: linear-gradient(#777d82, #dbd6c9);
}


.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(50vh - 60px);
  padding: 30px;
  margin-right: 50px;
  background-color: rgb(209, 199, 176);
  box-shadow: 1px 1px 4px #3d4042;
}

.timer button {
  box-shadow: 1px 1px 4px #3d4042;
  width: 140px;
  height: 50px;
  background-color: rgb(134, 161, 175);
  font-size: 16px;
  color: beige;
}
.timer button:hover {
  background-color: rgb(142, 124, 109);
}

.board__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.board__wrapper h3 {
  margin-bottom: 10px;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #3d4042;
  box-shadow: 1px 1px 4px #3d4042;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px #3d4042;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(134, 161, 175);
}

.white {
  background-color: rgb(209, 199, 176);
}

.selected {
  background-color: rgb(142, 124, 109);
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #3d4042;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  background-color: rgb(209, 199, 176);
  box-shadow: 1px 1px 4px #3d4042;
}